/* nilai keseluruhan */
*{
    width:100;
    height: 100;
}

/* mengatur lebar dan margin parrent div */
.container {
    width: 1000px;
    margin: 0 auto;
}

/* setting ID header  */
#header {
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    min-height: 50px;
    text-align: center;
    padding: 5px;
    color: white;
}

/* setting class content */
.content{
    position: relative;
    width: 100%;
    padding: 300px;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
    color: white;
    background-image: url(img/sky-night.png);
    background-size: cover;
    filter: blur(9px);
}

/* efek content saat berada di area content */
.content:hover {
    background-image: url(img/black.png);
    background-position: center;
    color: transparent;
    filter: none;
}
/* efek content saat di klik */
  .content:active {
    background-image: url(img/sky-night.png);
    filter: none;
    color:white;
  }
  
/* bagian footer */
#footer {
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    min-height: 50px;
    padding: 30px;
    text-align: center;
    color: white;
}