.container {
    width: 1000px;
    margin: 0 auto;
}

#header {
    background: linear-gradient(to bottom, #ff0000 44%, #ffffff 55%);
    min-height: 50px;
    text-align: center;
    padding: 5px;
}

.text {
    background: linear-gradient(to bottom, #ffffff 50%, #ff0000 50%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.jumbotron {
    width: 100%;
    padding: 300px;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: #aaa;
    background-image: url(img/sky-night.png);
    background-size: cover;
}

#footer {
    background-color: #ccc;
    min-height: 50px;
    padding: 20px;
    text-align: center;
}

/* .jumbotron {
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-color: #aaa;
} */